.navbar-brand{
    font-size: xx-large;
    font-weight: bold;
    padding: 5px;
  }
  .Name{
    font-size: 40px;
    font-weight: bold;
    color: rgb(13, 209, 209);
    font-family: 'Yantramanav', sans-serif;
    font-weight: bolder;
  }
body {
    background-color: #edf1f1;
}